.header {
  max-width: 880px;
  min-height: 74px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  display: flex;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
  justify-content: left;
}

@media screen and (max-width: 902px) {
  .header {
    max-width: 650px;
  }
}
@media screen and (max-width: 796px) {
  .header {
    max-width: 570px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    max-width: 450px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    min-height: 56px;
  }
}
